.edit-block-container {
    width: 90%;
    max-height: 90%;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 500;
}

.edit-block-container h1 {
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0 2rem;
    padding: 1rem 0;
}

.edit-block-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    grid-template-areas: 
        "label label"
        "width height"
        "inputs outputs"
        "submit cancel";
}

.edit-block-width label,
.edit-block-height label,
.edit-block-label label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.edit-block-width input,
.edit-block-height input,
.edit-block-label input {
    display: block;
    height: 1.5rem;
}

.edit-block-label {
    grid-area: label;
}

.edit-block-width {
    grid-area: width;
}

.edit-block-height {
    grid-area: height;
}

.edit-block-inputs {
    grid-area: inputs;
}

.edit-block-outputs {
    grid-area: outputs;
}

.edit-block-submit {
    grid-area: submit;
    justify-self: end;
}

.edit-block-cancel {
    grid-area: cancel;
    justify-self: start;
}

.edit-block-submit,
.edit-block-cancel {
    border: 0;
    height: 2rem;
    padding: 0 1rem;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
}

.edit-block-cancel:hover {
    color: rgb(172, 0, 0);
}

.edit-block-submit:hover {
    color: #fdd140;
}

.edit-block-inputs h2, .edit-block-outputs h2 {
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.edit-block-inputs select, .edit-block-outputs select {
    border: 0;
    height: 2rem;
    padding: 0.5rem;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
}

.edit-block-inputs input, .edit-block-outputs input {
    width: 5rem;
    height: 1rem;
    border: 0;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    margin-left: 2rem;
}

/* .edit-block-container input[type='number']{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
} */