.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6rem;
    background-color: #000;
}

.logo {
    height: 5rem;
}

.mm-item {
    height: 5rem;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0;
}

.mm-item-focus {
    color: #fdd140;
}

.mm-item svg {
    padding: 0.5rem 0;
}

.mm-item text {
    text-transform: none;
    font-size: 1rem;
}

.mm-item p {
    margin: 0;
}
.menu-item-focus {
    background-color: white;
}


.top-menu {
    height: 100%;
    display: flex;
    margin: 0 4rem;
    align-items: center;
}

.tm-menu-item {
    height: 3rem;
    width: 7rem;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.tm-menu-item-focus {
    color: #fff;
}

.tm-menu-item:hover {
    color: #fff;
}

.tm-menu-item p {
    text-align: center;
}