.block-type-node {
    border: 0;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: #243662;
    /* background: #FD7240; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.block-type-node-selected {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#label {
    margin: 0;
    color: #fff;
}

.block-type-container {
    width: inherit;
}

.block-type-label-container {
    text-align: center;
}

.block-type-label {
    padding: 0.5rem;
    font-size: 0.6rem;
    word-wrap: break-word;
}

@keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.handle-label {
    position: absolute;
    font-size: 0.7rem;
    z-index: 10;
    top: 0.5rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: taadaa 0.2s;
}

.design-flow-container {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.design-flow-container-with-menu {
    width: 90%;
}

.design-submenu-container {
    height: 100%;
    width: 10%;
    background-color: #000;
    position: absolute;
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 1rem;
    text-transform: uppercase;
}

.create-block-button {
    position: absolute;
    bottom: 2rem;
    border: 0;
    width: 8rem;
    height: 2rem;
}

.choose-v-file {
    text-align: center;
    font-family: sans-serif;
}

.choose-v-file h1 {
    font-weight: 900;
}

.choose-v-file h2 {
    font-size: 1.2rem !important;
    font-weight: lighter;
}

.choose-v-file p {
    cursor: pointer;
    max-width: 30%;
    margin: 1rem auto;
}

.choose-v-file p:hover {
    color:#fdd140;
    transition: all 0.2s ease-out;
}

.block-list {
    width: 100%;
}

.block-list-block {
    display: flex;
}

.block-list-add, .block-list-add-io {
    padding: 0;
    width: 100%;
    height: 3rem;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.block-list-add:hover, .block-list-add-io:hover {
    background-color: #fdd140;
    color: #000;
}

.block-list-line {
    border-top: 1px solid #fff;
    width: 90%;
}

/* .block-list-add-io {
    padding: 0;
    width: 100%;
    height: 3rem;
    border: 0;
    font-size: 1rem;
} */

.block-list-delete {
    padding: 0;
    width: 10%;
    height: 3rem;
    border: 0;
    color: red;
    font-size: 1.4rem;
}

.block-list-title {
    text-align: center;
    margin: 0.5rem;
}