.control-word-container {
    margin: 2rem;
    font-family: sans-serif;
    font-weight: 500;
}

.control-word-container h1 {
    font-weight: 900;
    letter-spacing: 0.1em;
}

.control-word-table {
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #000;
    color: #fdd140;
    padding: 1rem;
    height: 8rem;
}

.control-word-table td{
    text-align: center;
    padding: 0.4rem 0;
}

.nodes-container {
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.node-card {
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: inline-block;
    margin-right: 2rem;
    font-family: sans-serif;
    font-weight: 500;
}

.node-card h1 {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.node-card-subtitle {
    font-style: none;
    margin: 0;
    text-align: center;
}

.node-card-ports {
    display: flex;
    flex-direction: column;
}

.node-card-horizontal-line {
    margin: 0.5rem auto;
    width: 80%;
    border-top: 1px solid #dbdbdb;
}

.node-card-port {
    display: inline-flex;
}

.node-card-port p {
    padding: 0 2rem;
    margin: 0.5rem 0;
}

.node-card-port input {
    margin-left: auto;
    margin-right: 2rem;
}

.control-word-save {
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.control-word-save:hover {
    color: #fdd140;
}

/* ----------------------- */
/* Edit micro instructions */
/* ----------------------- */

.edit-mInstr-title {
    padding: 0 2rem;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.edit-mInstr-add {
    margin: 2rem auto;
}

.edit-mInstr-add,
.edit-mInstr-edit-save,
.edit-mInstr-edit-cancel  {
    display: block;
    width: 5rem;
    height: 2rem;
    border: 0;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.edit-mInstr-add:hover,
.edit-mInstr-edit-save:hover {
    color: #fdd140;
}

.edit-mInstr-edit-cancel:hover {
    color: rgb(172, 0, 0);
}

.edit-mInstr-list {
    height: 60%;
    overflow: auto;
}

.edit-mInstr-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.edit-mInstr-table tr {
    height: 3rem;
}

.edit-mInstr-table td {
    border-bottom: 1px solid grey;
}

.edit-mInstr-table th {
    text-align: left;
}

.edit-mInstr-edit {
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 0 auto;
}

.edit-mInstr-edit-form {
    display: flex;
    height: 70%;
}

.edit-mInstr-edit-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* .edit-mInstr-edit-save {
    border: 0;
    width: 5rem;
    height: 2rem;
} */

/* .edit-mInstr-edit-item-name input{
    width: 9rem;
} */

.edit-mInstr-edit-item-signals {
    width: 10rem;
}

/* .edit-mInstr-edit-item-signals input:invalid {
    border: 1px solid red;
}

.edit-mInstr-edit-item-signals input:invalid {
    border: 1px solid green;
} */

/* Control Flow */

.control-flow-container {
    width: 100%;
    height: 100%;
}

.select-item {
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 1rem;
    text-transform: uppercase;
}

.select-item button {
    /* background-color: blue; */
}

.select-item-mInstr-container, .select-item-cond-sig-container {
    height: 40%;
}

.select-item-title {
    text-align: center;
}

.select-item-mInstr {
    display: inline-grid;
    width: 100%;
}

.select-item-mInstr button {
    /* height: 2rem;
    border: 0; */

    padding: 0;
    width: 100%;
    height: 2.5rem;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.select-item-mInstr button:hover {
    background-color: #fdd140;
    color: #000;
}

.flow-container {
    width: 82%;
    height: 100%;
    margin-left: 18%;
}

.m-instr-node {
    padding: 0px 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.node-m-instr {
    background-color: #8e508e;
    color: #fff;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.node-conditional {
    background-color: #fffd8e;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.select-condition {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 100;
    padding: 0.5rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.select-condition button {
    display: block;
    margin: 0.8rem auto;
    margin-bottom: 0.2rem;
    border: 0;
    padding: 0.3rem;
}